html{
	min-height: 100%;
	background:$dark_primary radial-gradient(ellipse at center, cover, $primary 0%, $dark_primary 100%) no-repeat;
	background-size:cover;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color:$primary_text;
	line-height:1.6;
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	font-size:20px;
}
#wrap{
	width:calc(100% - 10px);
	max-width:800px;
	margin:0 auto;
	.flexbox &{
		display:flex;
		min-height:100vh;
		flex-direction:column;
	}
}
#main {
	flex:1;
}

a {
	color:$primary_text;
	text-decoration:none;
}

p{
	word-wrap: break-word;
	hyphens:auto;
}

input, textarea{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:1em;
	display:block;
	border:1px solid $dark_primary;
	padding:0.5em;
	background-color:$light_primary;
	color:$alt_text;
}

input[type='submit'], input[type='reset'], button, .button{
	transition:all 350ms ease-out;
	color:$alt_text;
	background:$accent;
	padding:0.5em;
	cursor: pointer;
}
input:disabled{
	opacity:0.2;
	cursor: default;

}

textarea{
	width:100%;
}

ul, li {
	padding:0;
}


:-ms-input-placeholder{
	color:$light_alt_text;
	opacity:0.4;
}
::-moz-placeholder{
	color:$light_alt_text;
	opacity:0.4;
}
::-webkit-input-placeholder{
	color:$light_alt_text;
	opacity:0.4;
}