

p>a.button{
	text-align:center;
	min-width:160px;
	width:35%;
	display:block;
	margin:0 auto;
}
form{
	position:relative;
	margin-top:48px;
}

input[type='submit']{// TODO adjust for larger screenssmallscreen
	position:absolute;
	top :-48px;
	right:0;
}
input[type='reset']{
	display:none;
}

.advanced{
	display:none;
	width:100px;
	padding:0;
	color:$primary_text;
	background-color:transparent;
	padding-left:0;
	&::after{
		position:relative;
		top:19px;
		left:4px;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 6px 0 6px;
		border-color: $primary_text transparent transparent;
		transform: rotate(360deg);
	}
}

.visuallyhidden {transition:all 350ms ease-out; border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.reply-to{
	transition:all 350ms ease-out;
	input{
		width:100%;
		max-width:320px
	}
}

#info-area p {
	border:1px solid $primary_text;
	font-size: 0.8em;
	padding: 0.5em;
	&.warning{
	background:$red;
		border:1px solid $red;
	padding:0.5em;
	border:1px solid $red;
	color:$off_white;
	}
}


#footer {
	margin-top:2em;
	li {
		display:inline-block;
		font-size:0.75em;
		list-style-type: none;
		margin-right:2em;
	}
}




//tweak to accomodate keyboard in landsape orientation
@media screen and (min-aspect-ratio: 16/6) {
	form{
		margin-top:0;
	}
	textarea{
		width:90%;
	}
	input[type='submit']{
		width:10%;
		top:0;
	}
}

@media screen and (min-width: 816px) and (max-aspect-ratio:16/6){
	form{
		margin-top:0;
	}
    input[type='submit']{
		width:auto;
		position:relative;
		top:auto;
		margin-top:1em;
	}
}

@media screen and (min-width: 600px) and (min-height: 680px){
	.advanced{
		display:block;
	}
	form{
		margin-top:0;
	}
	input[type='submit']{
		width:10%;
		top:0;
	}
}
