//Fonts

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2) format('woff2'), url(http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}


//variables and mixins

/* $primary:         #673ab7; //gradient, border, submit text
$dark_primary:       #512da8; //button-border, gfradient
$light_primary:    #d1c4e9; //text color, links, border
$accent:        #ff4081; //Buttons
$primary_text:    #dfdfdf; //text color, links, border
$alt_text:    #212121; //textarea
$light_alt_text:    #727272; //placeholder
$red:           #8F3535; //Erros
$off_white:     #b6b6b6; //Error text */


$primary:         #8BC34A; //gradient, border, submit text
$dark_primary:      #689F38; //button-border, gfradient
$light_primary:    #DCEDC8; //text color, links, border
$accent:        #FFC107; //Buttons
$primary_text:    #dfdfdf; //text color, links, border
$alt_text:    #444; //textarea
$light_alt_text:    #727272; //placeholder
$red:           #8C2929; //Erros
$off_white:     #b6b6b6; //Error text


/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }